@import "../../scss/containers.scss";

.p1-row {
    display: flex;

    &.p1-fluid {
        width: 100%;
    }

    &.p1-gap-0 {
        gap: 0;
    }

    &.p1-gap-1 {
        gap: 0.5rem;
    }

    &.p1-gap-2 {
        gap: 0.5rem;
    }

    &.p1-gap-3 {
        gap: 0.5rem;
    }

    & .p1-gap-4 {
        gap: 0.5rem;
    }

    &.p1-padding-0 {
        padding: 0;
    }

    &.p1-padding-1 {
        padding: 0.5rem;
    }

    &.p1-padding-2 {
        padding: 1rem;
    }

    &.p1-padding-3 {
        padding: 1.5rem;
    }

    &.p1-padding-4 {
        padding: 2rem;
    }

    &.p1-center {
        align-items: center;
    }

    .p1- {
        &.gap {
            &-1 {
                gap: 0.5rem;
            }

            &-2 {
                gap: 1rem;
            }

            &-3 {
                gap: 1.5rem;
            }

            &-4 {
                gap: 2rem;
            }

            &-0 {
                gap: 0;
            }
        }

        &.padding {
            &-0 {
                padding: 0;
            }

            &-1 {
                padding: 0.5rem;
            }

            &-2 {
                padding: 1rem;
            }

            &-3 {
                padding: 1.5rem;
            }

            &-4 {
                padding: 2rem;
            }
        }

        &.fluid {
            width: 100%;
        }

        &.justify {
            &-flex-start {
                justify-content: flex-start;
            }
            &-flex-end {
                justify-content: flex-end;
            }
            &-center {
                justify-content: center;
            }
            &-space-around {
                justify-content: space-around;
            }
            &-space-between {
                justify-content: space-between;
            }
            &-space-evenly {
                justify-content: space-evenly;
            }
            &-stretch {
                justify-content: stretch;
            }
        }

        &.align {
            &-flex-start {
                align-items: flex-start;
            }
            &-flex-end {
                align-items: flex-end;
            }
            &-center {
                align-items: center;
            }
            &-baseline {
                align-items: baseline;
            }
            &-stretch {
                align-items: stretch;
            }
        }
    }
}
