$scolor: #e6eef9;

.p1-tabs {
    --width: 12px;
    $width: var(--width);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #f2f6fb;
    width: fit-content;
    width: 100%;
    height: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .p1-tab-menu {
        position: relative;
        box-sizing: border-box;
        display: flex;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background: #e6e6e6;
        //padding: $width 0 0;
        width: 100%;
        align-self: center;
        overflow: hidden;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
            "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-variant: normal;
        font-kerning: normal;
        line-height: 1.5;
        box-shadow: rgba(99, 99, 99, 0.15) 0px -1px 0px 1px;

        .p1-tab-button {
            flex: 1;
            max-width: 140px;
            padding: 10px 10px;
            font-size: 16px;
            border: none;
            outline: none;
            border-radius: 5px;
            background: transparent;
            position: relative;
            z-index: 0;
            font-weight: 600;

            &:not(:last-child) {
                &:after {
                    position: absolute;
                    content: "";
                    height: 33%;
                    top: calc(50% - 16.6666%);
                    bottom: 0;
                    right: 0;
                    background: rgba(0, 0, 0, 0.25);
                    width: 1px;
                }
            }

            &.active {
                color: #232323;
                font-weight: 600;
            }
        }

        .glider {
            position: absolute;
            display: flex;
            background-color: $scolor;
            z-index: 0;
            bottom: 0;
            border-radius: 99px;
            transition: 0.25s ease-out;

            $width: var(--width);
            $diff: var(--diff);
            $start: var(--startX);
            $right: var(--right);
        }
    }

    .p1-tab-container {
        display: flex;
        flex: 1;
        height: 100%;
        background: #f2f6fb;
    }
}
