@import "../../scss//variables";
@import "../../scss/status";

$closeButtonColor: rgba(237, 106, 94, 1);
$closeButtonColor_hover: rgba(237, 106, 94, 1);
$closeButtonColor_active: rgb(178, 79, 71);

$closeButtonColor2: rgb(208, 58, 44);
$closeButtonColor2_hover: rgb(207, 49, 35);
$closeButtonColor2_active: rgb(239, 118, 118);

.p1-toast-provider {
    z-index: 20;
    .p1-toast {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        pointer-events: all;
        white-space: pre;
        padding: 0 0 0px 0;
        min-width: 200px;
        top: -0px;
        border-radius: 0.35rem;
        z-index: 20;
        text-align: left;
        transform: translateY(0vh);
        background: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        animation: toast 350ms $easeInSine 0s 1 normal;
        transition: transform 200ms linear;
        overflow: hidden;
        background: rgb(235, 236, 236);

        .p1-toast-heading {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            background: black;
            background: rgb(240, 240, 240);
            padding: 4px 6px;
            box-sizing: border-box;
            box-shadow: 0 1px rgb(210, 210, 210);
        }

        .p1-toast-body {
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            padding: 10px 10px;
            font-weight: 600;
            font-family: Open Sans, sans-serif;
        }

        .p1-close-toast {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 14px;
            height: 14px;
            font-weight: 900;
            margin: 4px;
            border-radius: 999%;
            border: none;
            position: relative;
            font-size: 8px;
            background: $closeButtonColor;
            box-shadow: 0 0 0.5px 0.3px rgba(0, 0, 0, 0.5);

            span {
                display: none;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                color: black;
                background: $closeButtonColor_hover;

                span {
                    display: flex;
                }
            }

            &:active {
                background: $closeButtonColor_active;
            }
        }

        &.p1-type- {
            &success {
                .p1-toast-heading {
                    background: $success75;
                }

                .p1-toast-body {
                    background: $success25;
                    color: $success;
                }
            }

            &danger {
                .p1-toast-heading {
                    background: $danger75;
                }

                .p1-close-toast {
                    background: $closeButtonColor2;
                    &:hover {
                        background: $closeButtonColor2_hover;
                    }

                    &:active {
                        background: $closeButtonColor2_active;
                    }
                    box-shadow: 0 0 0.3px 0.5px rgba(0, 0, 0, 0.5);
                }

                .p1-toast-body {
                    background: $danger25;
                    color: $danger;
                }
            }

            &warning {
                .p1-toast-heading {
                    background: $warning75;
                }

                .p1-toast-body {
                    background: $warning20;
                    color: $warning;
                }
            }
        }
    }
}

.p1-fade {
    opacity: 0;
    animation: fade 500ms $easeInQuad 0s 1 normal !important;
}

@keyframes toast {
    0% {
        transform: translateY(-27vh) rotate(26deg);
    }
    10% {
        transform: translateY(-24vh) rotate(26deg);
    }
    90% {
        transform: translateY(0vh) rotate(20deg);
    }
    100% {
        transform: translateY(3vh) rotate(0deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
