@import "../../scss/variables";

.p1-navbar-collapse {
    display: flex;
    height: auto;
    width: 100%;
    flex-basis: 100%;
    gap: 12px;
    flex-direction: column;
    flex: 1;
    flex-basis: 100%;
    overflow: hidden;
    z-index: 0;

    &.p1 {
        &-position {
            &-left {
                align-items: flex-end;
                @include media-breakpoint-up(md) {
                    justify-content: flex-start;
                }
            }
            &-right {
                align-items: flex-start;
                @include media-breakpoint-up(md) {
                    justify-content: flex-end;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        box-sizing: border-box;
        display: flex;
        padding: 2rem 2rem;
        width: 100vw;
        min-width: 100vw;
        flex: 1;
        flex-basis: 100%;
    }

    &.navbar-collapse-show {
        @include media-breakpoint-down(md) {
            display: flex;
            width: 100vw;
            min-width: 100vw;
            flex: 1;
            flex-basis: 100%;
            align-items: flex-start;
            padding: 1rem 0;
            height: auto;
        }
    }

    &.navbar-collapse-hide {
        @include media-breakpoint-down(md) {
            //display: none;
            overflow: hidden;
            flex: 1;
            flex-basis: 100%;
            width: 100vw;
            min-width: 100vw;
            height: 0px;
        }
    }

    @include media-breakpoint-up(md) {
        flex-direction: row;
        flex: 1;
        display: flex !important;
        height: 100% !important;
        align-items: center;
    }
}
