$success: rgb(0, 110, 37);
$success25: rgba(0, 110, 37, 0.25);
$success50: rgba(0, 110, 37, 0.50);
$success75: rgba(0, 110, 37, 0.75);
$successTransparent: rgba(0, 148, 50, 0.1);

$danger: rgba(234, 32, 39, 1);
$danger25: rgba(234, 32, 39, 0.25);
$danger50: rgba(234, 32, 39, 0.50);
$danger75: rgba(234, 32, 39, 0.75);
$dangerTransparent: rgba(234, 32, 39, 0.1);

$warning: rgba(225, 177, 44, 1);
$warning20: rgba(225, 177, 44, 0.2);
$warning50: rgba(225, 177, 44, 0.50);
$warning75: rgba(225, 177, 44, 0.75);
$warningTransparent: rgba(225, 177, 44, 0.1);
